<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MSC IdeaForge</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Ana Sayfa
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="problems">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Problemler
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="knowledge">
                <span class="bi bi-book-fill-nav-menu" aria-hidden="true"></span> Bilgi Bankası
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="signal-import">
                <span class="bi bi-cloud-arrow-down-fill-nav-menu" aria-hidden="true"></span> Sinyal İçe Aktar
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="industry-radar">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sektör Radarı
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="trend-radar">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Trend Radarı
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="revenue-analyzer">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Gelir Analizörü
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="founder-profile">
                <span class="bi bi-person-badge-fill-nav-menu" aria-hidden="true"></span> Kurucu Profili
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="decisions">
                <span class="bi bi-journal-check-nav-menu" aria-hidden="true"></span> Karar Günlüğü
            </NavLink>
        </div>
    </nav>
</div>

